body {
    background: url("https://media.contentapi.ea.com/content/dam/eacom/en-us/migrated-images/2016/11/news-article-images-star-wars-goh-splash.jpg.adapt.crop16x9.575p.jpg") no-repeat center center fixed;
    background-size: cover;
}
.loader {
    left: 50%;
    top: 20%;
    width: 60px;
    height: 60px;
    border: 3px solid #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #FF3D00 transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.language {
    position: absolute;
    top: 0;
    right: 5%;
}

.hidden {
    display: none;
}

.select-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.button-container {
    display: grid;
}

.button-info {
    text-decoration: none;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    padding: 0 30px 0 30px;
    cursor: pointer;
    float: left;
}
.button-info:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(2px);
}
#table {
    margin: auto;
}
.title {
    text-align: center;
    color: aqua;
}
#flexbox {
    font: 25px sans-serif;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.gender {
    width: 30px;
    height: 30px;
}
.photo {
    float: left;
    width: 220px;
    height: 325px;
    padding-right: 10px;
}
.info {
    border: solid 1px;
    padding: 10px;
    min-width: 350px;
    background: #fff;
}
.next-prev {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #85f383;
    color: black;
    position: absolute;
    border-radius: 40%;
    top: 22%;
}
.prev {
    position: absolute;
    top: 17%;
    left: 10%;
}
.next {
    position: absolute;
    top: 17%;
    right: 10%;
}
.next-prev:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-2px);
}
.cursor-pointer {
    cursor: pointer;
}
.cursor-not {
    background-color: #b2b4af !important;
    cursor: not-allowed !important;
}
.cursor-not:hover {
    background-color: #595c57 !important;
}